.channelsContainer {
    display: flex;
    justify-content: center;
    align-items: top;

    margin: 3px;
    padding: 3px;
}

div.activeChannelList {
    margin: 10px;
    padding: 0;
    width: 410px; /* sum of channelLabelContainer + channelRssiContainer */
}

div.channelsConfigList {
    margin: 10px;
    padding: 0;
}