.activeChannel {
    text-align: left;
}

div.activeChannel {
    border: 4px solid black;
    border-style: solid;
    margin-bottom: 5px;

}

div.activeChannel .topLineContainer {
    display: flex;
    justify-content: left;
    align-items: left;

    margin: 3px;
}

.activeChannel .channelLabelContainer {
    width: 250px;
    margin: 3px;
}

.activeChannel .channelRssiContainer {
    margin: 5px;
    width: 160px;
}

.activeChannel .channelLabel {
    font-size: large;
    font-weight: bold;
}

.statusContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 3px;
    gap: 5px;
}

.statusBox  {
    width: 30px;
    height: 30px;
    
    /* Add a background color and border for visibility */
    background-color: #f0f0f0;
    border: 3px solid #333;

    /* Use Flexbox for centering content */
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    
    font-size: large;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

p.statusBox {
    margin: 3px;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.statusBoxLarge {
    width: auto;
}

.holdActive {
    background-color: #f1c40f;
}

.soloActive {
    background-color: #f1c40f;
}

.muteActive {
    background-color: #e74c3c;
}

.disableActive {
    background-color: #e74c3c;
}

/* Config */

.channelConfig {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;

    margin: 3px;
}

div.showBorder {
    border: 2px solid black;
}

.channelConfigHeader {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;

    font-size: large;
    font-weight: bold;

    border-bottom: 3px solid black;
}

div.channelConfigLabel {
    width: 200px;
    font-weight: bold;
}

div.channelConfigFreq {
    width: 100px;
}

div.channelConfigMode {
    width: 100px;
}

div.channelConfigStatus {
    width: 100px;
}

div.channelConfigDetails {
    text-align: left;
}

div.channelConfigControls {
    /* border: 2px solid black; */

    display: flex;
    justify-content: left;
    align-items: center;
    padding: 3px;
    gap: 5px;
}

div.forceActive {
    width: 18px;
    height: 18px;
    background: black;
    clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
}

/*    Pause Icon    */

.pauseIcon {
  width: 16px;
  height: 16px;
  position: relative;
  /* cursor: pointer; */
}

.pauseIcon::before,
.pauseIcon::after {
  content: '';
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
  background-color: #000;
}

.pauseIcon::before {
  left: 0;
}

.pauseIcon::after {
  right: 0;
}