services:
  sdr_scanner:
    build: .
    ports:
      - "8123:8123"
    privileged: true
    volumes:
      - .:/app
      - /dev/usb:/dev/usb
      - /dev/bus/usb:/dev/bus/usb
    restart: no
    command: python3 cli_scan.py -c sdrscan.yaml
